@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Colors */
		--primary: #1bbb5b;
		--secondary: #0e864c;
		--tertiary: #748e63;

		/* Gradient color*/

		--gradient-secondary: linear-gradient(
			rgba(14, 134, 76, 1) rgba(55, 101, 73, 1) rgba(38, 33, 44, 1)
		);
	}
}
